<div class="panel panel-default">
 <div class="panel-heading"><a href="#" > <h4>{{post.author}}</h4></a></div>
  <div class="panel-body">
    {{post.content}}
    <div class="clearfix"></div>
    <hr>

    <h5><a href="#">Commenter Name</a> @ CommentDate</h5>
    <img class="comment_item_photo" src="#" alt="comment item photo" />
    <p>
    Comment Content
    </p>

    <hr>
    <form>
    <div class="input-group">
      <div class="input-group-btn">
      <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-upload"></i></button>
      </div>
      <input type="text" class="form-control" placeholder="Add a comment..">
    </div>
    </form>

  </div>
</div>